{
  "extends": "airbnb-base",
  "env": {
    "mocha": true
  },
  "rules": {
    "arrow-body-style": ["error", "always"],
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": "off",
    "no-buffer-constructor": 0,
    "no-return-await": 0,
    "no-restricted-syntax": 0,
    "prefer-destructuring": 0
  }
}
